# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo
dev-server*.log
.dev-server.pid

# local env
.env
.env*.local

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
